@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}

/*Nav */
.nav__color {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 0 4px 0 #0e0d0d;
          box-shadow: 0 0 4px 0 #0e0d0d;
}

.nav-item {
  margin: 5px;
}

.nav-item .nav__link {
  font-size: 13px;
  text-decoration: none;
  color: #f23e2e;
  text-transform: uppercase;
}

.nav-item .nav__link:hover {
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-light .navbar-toggler {
  border: none;
}

.fa-solid.fa-bars {
  color: #f23e2e;
}

.button4 {
  background-color: #f23e2e;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  margin: 20px 20px 50px 20px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.button4:hover {
  background-color: black;
  color: #f23e2e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*Footer*/
.footer {
  font-size: 15px;
  background-color: black;
  color: white;
  width: 100%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../Imágenes/Heroimage3.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.hero__title {
  color: white;
  font-size: 40px;
  margin-left: 50%;
  margin-right: 5%;
  font-weight: bold;
}

.hero__title span {
  color: #f23e2e;
}

.hero__text {
  color: white;
  font-size: 15px;
  margin: 20px;
}

.button1 {
  background-color: #f23e2e;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  margin: 20px 20px 50px 20px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.button1:hover {
  background-color: white;
  color: #f23e2e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.entrenemientos {
  -webkit-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
  overflow: hidden;
  background-color: #f2f2f2;
  margin-top: -35px;
  height: auto;
}

.entrenamientos__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  padding-bottom: 20px;
}

.entrenamientos__contenido h2 {
  color: black;
  font-size: 30px;
  margin-left: 5px;
  margin-top: 20px;
  font-weight: 400;
}

.entrenamientos__contenido a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 10px auto 15px 5px;
  text-transform: uppercase;
}

.entrenamientos__contenido a:hover {
  color: #f23e2e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.video {
  display: none;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map h2 {
  color: #f23e2e;
  font-size: 30px;
  font-weight: 400;
  margin: 10px;
  text-transform: uppercase;
  padding-top: 15px;
}

.map img {
  width: 70%;
  margin-bottom: 10px;
}

.button2 {
  background-color: #f23e2e;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  margin: 10px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.button2:hover {
  background-color: #f2f2f2;
  color: #f23e2e;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card__section {
  width: 100%;
  background-image: url(../Imágenes/¿Que-es-CrossFit.png);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  padding-bottom: 60px;
}

.card__section h2 {
  font-size: 30px;
  color: white;
}

.card:hover {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.planes__section {
  -webkit-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
  background-color: #f2f2f2;
  margin-top: -35px;
  height: auto;
  margin-bottom: 30px;
}

.planes__section .planes__section__contenido {
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  padding-bottom: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box__coach {
  background-color: rgba(0, 0, 0, 0.8);
}

.box__coach h5 span {
  color: #f23e2e;
  font-weight: bold;
}

.box__coach p span {
  color: #f23e2e;
  font-weight: bold;
}

.staff__span {
  color: #f23e2e;
}

.carousel-inner {
  max-width: 390px;
}

@media (min-width: 768px) {
  .entrenamientos__contenido {
    padding-bottom: 100px;
  }
  .video {
    display: inline-block;
    -webkit-transform: skew(0deg, 5deg);
            transform: skew(0deg, 5deg);
    background-image: -webkit-gradient(linear, left top, right top, from(#0c0c0c), to(#3b100c));
    background-image: linear-gradient(to right, #0c0c0c, #3b100c);
    margin-top: -35px;
    height: auto;
  }
  .video__contenido {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: auto;
    -webkit-transform: skew(0deg, -5deg);
            transform: skew(0deg, -5deg);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .hero__title {
    color: white;
    font-size: 70px;
  }
  .hero__title span {
    color: #f23e2e;
  }
  .hero__text {
    color: white;
    font-size: 25px;
    margin-left: 60%;
    margin-right: 10%;
  }
  .button1 {
    background-color: #f23e2e;
    border-radius: 50px;
    color: white;
    font-size: 25px;
    margin-left: 60%;
    margin-right: 10%;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .button1:hover {
    background-color: white;
    color: #f23e2e;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .entrenamientos {
    height: 400px;
    background-position: center;
    background-repeat: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .entrenamientos h2 {
    color: white;
    font-size: 70px;
    margin-left: 5px;
  }
  .entrenamientos a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-left: 5px;
    text-transform: uppercase;
  }
  .entrenamientos a:hover {
    color: #f23e2e;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .video iframe {
    width: 60%;
    height: 500px;
  }
  .button2 {
    font-size: 25px;
  }
  .map h2 {
    font-size: 25px;
  }
  .footer {
    font-size: 25px;
  }
  .card__section {
    padding-bottom: 100px;
  }
  .planes__section__contenido {
    padding-top: 100px;
  }
  .contacto__form {
    margin-left: 25%;
  }
  .input-group {
    width: 50%;
  }
}
/*# sourceMappingURL=estilos.css.map */