.box__coach {
  background-color: rgba(0, 0, 0, 0.8);
  h5 span {
    color: $color1;
    font-weight: bold;
  }
  p span {
    color: $color1;
    font-weight: bold;
  }
}
.staff__span {
  color: $color1;
}
.carousel-inner {
  max-width: 390px;
}
